@model BudgetTracker.ViewModels.ExpenseViewModel

<div class="container">
    <div class="border border-secondary border-3 col-12 p-3">
        <div class="mb-4">
            <h1 class="display-4">New Expense</h1>
            <a asp-action="Index" asp-route-budgetId="@ViewBag.budgetId"  class="p-0 btn btn-link text-secondary">&lt; Back To Expenses List</a>
        </div>

        <form asp-controller="Expenses" asp-action="CreateOrEdit">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.BudgetId, new { id = "BudgetId", Value = ViewBag.budgetId })
            @Html.ValidationMessageFor(expense => expense.BudgetId)
            @Html.ValidationMessageFor(expense => expense.Budget)
            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label">Expense Description</label>
                    <input asp-for="Description" class="form-control" type="text" placeholder="Description of Expense" />
                    @Html.ValidationMessageFor(expense => expense.Description)
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label">Cost</label>
                    <input asp-for="Cost" class="form-control" type="number" step="any" placeholder="Cost" />
                    @Html.ValidationMessageFor(expense => expense.Cost)
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-3">
                    <button class="btn btn-primary form-control text-center" type="submit">Add Expense</button>
                </div>
            </div>
        </form>
    </div>
</div>