@{
    ViewData["Title"] = "Expenses";
}
@model List<Expense>

<div class="text-center">
    @if (ViewBag.Alert != "") {
        <div class="alert alert-primary" role="alert">
            @ViewBag.Alert
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <h1 class="display-4">Expenses</h1>
    <a class="btn btn-primary float-end" asp-action="CreateOrEdit">New Expense</a>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th class="col">
                    Description
                </th>
                <th class="col">
                    Cost
                </th>
                <th class="col">
                    Date Created
                </th>
                <th class="col">
                    Budget Period
                </th>

                <th class="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Expense expense in Model)
                {
                    <tr>
                        <td>
                            @expense.Description
                        </td>
                        <td>
                            R@(String.Format("{0:0.00}", expense.Cost))
                        </td>
                        <td>
                            @expense.DateCreated.ToString("dd MMM yyyy") 
                        </td>
                        <td>
                            @expense.Budget.Name 
                        </td>
                        <td>
                            <div class="btn-group dropdown">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="@($"dropdownMenuButton{expense.Id}")" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-action="CreateOrEdit" asp-route-id="@expense.Id">Edit</a></li>
                                    <li><a class="dropdown-item mt-2" asp-controller="Expenses" asp-action="Delete" asp-route-id="@expense.Id">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="bg-secondary text-white">
                <td class="border">Total:</td>
                <td class="border-start">R@(String.Format("{0:0.00}", Model.Sum(x => x.Cost)))</td>
                <td class="border-end" colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
