@{
    ViewData["Title"] = "Budgets";
}
@model List<Budget>

<div class="text-center">
    @if (ViewBag.Alert != "" && ViewBag.Alert != null)
    {
        <div class="alert alert-primary" role="alert">
            @ViewBag.Alert
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <h1 class="display-4">Budgets</h1>
    <a class="btn btn-primary float-end" asp-action="Create">New Budget</a>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th class="col">
                    Name
                </th>
                <th class="col">
                    Start of Budget
                </th>
                <th class="col">
                    End of Budget
                </th>
                <th class="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Budget budget in Model)
                {
                    <tr>
                        <td>
                            @budget.Name
                        </td>
                        <td>
                            @budget.BudgetStartDate.ToString("dd MMM yyyy")
                        </td>
                        <td>
                            @budget.BudgetEndDate.ToString("dd MMM yyyy")
                        </td>
                        <td>
                            <div class="btn-group dropdown">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="@($"dropdownMenuButton{budget.Id}")" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@budget.Id">Edit</a></li>
                                    <li><a class="dropdown-item mt-2" asp-controller="Budgets" asp-action="Delete" asp-route-id="@budget.Id">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
